.scroll-table-body {
	height: 37em;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.scroll-body {  /*Скрол по аналогии с таблице для div*/
	height: 44em;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.scroll-table-head {
	width: 99%;
}

.scroll-table table {
	width: 100%;
}
.scroll-table thead th {
    width: 10em;
    text-align: center;
    vertical-align: middle;

}
.scroll-table tbody td {
    width: 10em;
    text-align: center;
    vertical-align: middle;
}

@media screen and (min-width: 2200px) {
    .scroll-table-body {
	height: 47em;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
    }

    .scroll-body {
    	height: 54em;
    	width: 100%;
    	overflow-y: auto;
    	overflow-x: hidden;
    }
}


@media screen and (min-width: 3200px) {
    .scroll-table-body {
	height: 75em;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
    }

    .scroll-body {
    	height: 80em;
    	width: 100%;
    	overflow-y: auto;
    	overflow-x: hidden;
    }
}