{% extends 'data_handler/index.html' %}
{% load static%}

{% block data %}
<center>
<div style="max-width:5000px">

    <div class="container" style="height: 20px;">
        <canvas id="grafica1" width="10" height="3"></canvas>

        <canvas id="grafica2" width="10" height="3"></canvas>

        <canvas id="grafica3" width="10" height="3"></canvas>

        <canvas id="grafica4" width="10" height="3"></canvas>

        <canvas id="grafica5" width="10" height="3"></canvas>

        <canvas id="grafica6" width="10" height="3"></canvas>
    </div>
</center>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script>
        // Получение ссылки на элемент canvas в DOM
        const grafica1 = document.querySelector("#grafica1");
        const grafica2 = document.querySelector("#grafica2");
        const grafica3 = document.querySelector("#grafica3");
        const grafica4 = document.querySelector("#grafica4");
        const grafica5 = document.querySelector("#grafica5");
        const grafica6 = document.querySelector("#grafica6");

        // Tags - это метки, которые идут по оси X.
        const tags = ["Январь", "Февраль", "Март", "Апрель"]
        // У нас может быть несколько наборов данных. Давайте начнем с одного
        const dataSales2020 = {
            label: "График",
            data: [5000, 1500, 8000, 5102], // Данные представляют собой массив, который должен иметь такое же количество значений, как и количество тегов.
            backgroundColor: 'rgba(54, 162, 235, 0.2)', // Цвет фона
            borderColor: 'rgba(54, 162, 235, 1)', // Цвет границ
            borderWidth: 1,// Толщина границ
        };
        new Chart(grafica1, {
            type: 'line',// Тип графики
            data: {
                labels: tags,
                datasets: [
                    dataSales2020,
                    // Больше данных здесь....
                ]
            },
            options: {
                scales:{
                  yAxes: [{
                    scaleLabel: {
                      display: true,
                      labelString: 'Goxy, G'
                    }
                  }],
                  xAxes: [{
                    scaleLabel: {
                      display: true,
                      labelString: 'Измеренная глубина, м'
                    }
                  }],
                },
            }
        });
        new Chart(grafica2, {
            type: 'line',// Тип графики
            data: {
                labels: tags,
                datasets: [
                    dataSales2020,
                    // Больше данных здесь....
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                },
            }
        });
        new Chart(grafica3, {
            type: 'line',// Тип графики
            data: {
                labels: tags,
                datasets: [
                    dataSales2020,
                    // Больше данных здесь....
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                },
            }
        });
        new Chart(grafica4, {
            type: 'line',// Тип графики
            data: {
                labels: tags,
                datasets: [
                    dataSales2020,
                    // Больше данных здесь....
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                },
            }
        });
        new Chart(grafica5, {
            type: 'line',// Тип графики
            data: {
                labels: tags,
                datasets: [
                    dataSales2020,
                    // Больше данных здесь....
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                },
            }
        });
        new Chart(grafica6, {
            type: 'line',// Тип графики
            data: {
                labels: tags,
                datasets: [
                    dataSales2020,
                    // Больше данных здесь....
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                },
            }
        });
    </script>
{% endblock %}