{% extends 'base.html' %}
{% load static%}


{% block content %}
<style>
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: var(--bs-nav-pills-link-active-color);
    background-color: #fdb30d;}

.link {
  text-decoration: none;
}
body{
    overflow: hidden;}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav nav-pills m-auto">
        <li class="nav-item">
          {% if context.active == 'param' %}
          <a href="{% url 'param' %}" class="nav-link active" style="font-size:large">Общие параметры</a>
          {% else %}
          <a href="{% url 'param' %}" class="nav-link" style="font-size:large">Общие параметры</a>
          {% endif %}
        </li>
        <li class="nav-item active">
          {% if context.active == 'plan' %}
          <a href="{% url 'plan' %}" class="nav-link active" style="font-size:large">Плановая траектория</a>
          {% else %}
          <a href="{% url 'plan' %}" class="nav-link" style="font-size:large">Плановая траектория</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if context.active == 'traj'%}
          <a href="{% url 'traj' %}" class="nav-link active" style="font-size:large">Траектории</a>
          {% else %}
          <a href="{% url 'traj' %}" class="nav-link" style="font-size:large">Траектории</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row" style="margin: 0em;">
      {% block left_panel %}
    <div class="col-2">
        <!-- Дерево -->
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-5 fw-semibold">Выбор модели</span>
            </a>
            <!-- Начало дерева(по id работаем с деревом в js) -->
            <ul class="list-unstyled ps-0" id="tree-menu">
                <!-- ДО -->
                {% for dict in context.tree %}
                <li class="mb-1">
                    <a class="btn btn-toggle align-items-center rounded collapsed " data-bs-toggle="collapse"
                       href="#{{ dict.client }}" role="button" aria-expanded="false">
                        {{ dict.client }}
                    </a>
                    <div class="collapse {% if dict.client == context.selected_client %} show {% endif %}" id="{{ dict.client }}" style="">
                        <ul class="btn-toggle-nav ">
                            <!-- Месторождение -->
                            {% for field_dict in dict.fields %}
                            <li><a href="#field{{field_dict.id}}" class="link-dark rounded field" data-toggle="collapse">
                                {{field_dict.field_name}}</a>
                                <div class="collapse {% if field_dict.field_name == context.selected_field %} show {% endif %}" id="field{{field_dict.id}}">
                                    <ul class="btn-toggle-nav">
                                        <!-- Куст -->
                                        {% for pad_dict in field_dict.pads %}
                                            <li><a href="#field{{field_dict.id}}pad{{pad_dict.id}}" class="link link-dark rounded pad" data-toggle="collapse">
                                                Куст {{pad_dict.pad_name}}</a>
                                                <div class="collapse {% if pad_dict.pad_name == context.selected_pad %} show {% endif %}" id="field{{field_dict.id}}pad{{pad_dict.id}}">
                                                    <ul class="btn-toggle-nav">
                                                        <!-- Скважина -->
                                                        {% for well_dict in pad_dict.wells %}
                                                        <li><a href="#field{{field_dict.id}}well{{well_dict.id}}" class="link link-dark rounded well" data-toggle="collapse">
                                                            Скв. {{well_dict.well_name}}</a>
                                                            <div class="collapse {% if well_dict.well_name == context.selected_well %} show {% endif %}" id="field{{field_dict.id}}well{{well_dict.id}}">
                                                                <ul class="btn-toggle-nav">
                                                                    <!-- Ствол-->
                                                                    {% for wellbore_dict in well_dict.wellbores %}
                                                                    <li><a href="#field{{field_dict.id}}_{{wellbore_dict.id}}" class="link link-dark rounded wellbore" data-toggle="collapse">
                                                                        Ствол {{wellbore_dict.wellbore}}</a>
                                                                        <div class="collapse {% if wellbore_dict.wellbore == context.selected_wellbore %} show {% endif %}" id="field{{field_dict.id}}_{{wellbore_dict.id}}">
                                                                            <ul class="btn-toggle-nav">
                                                                                <!-- Секция-->
                                                                                {% for section_dict in wellbore_dict.sections %}
                                                                                <li><a href="#field{{field_dict.id}}_{{section_dict.id}}" class="link link-dark rounded section" data-toggle="collapse">
                                                                                    {{section_dict.section}}</a>
                                                                                    <div class="collapse {% if well_dict.well_name == context.selected_well and section_dict.section == context.selected_section %} show {% endif %}" id="field{{field_dict.id}}_{{section_dict.id}}">
                                                                                        <ul class="btn-toggle-nav">
                                                                                            <!-- Рейс-->
                                                                                            {% for run_dict in section_dict.runs %}
                                                                                            <li><a href="?run_id={{run_dict.id}}" class="run" {% if run_dict.run_number == context.selected_run and well_dict.well_name == context.selected_well and wellbore_dict.wellbore == context.selected_wellbore %} style="background-color: #fdb30d;" {% endif %}>{{run_dict.run_number}}</a></li>
                                                                                            {% endfor %}
                                                                                            <!-- Конец Рейс-->
                                                                                        </ul>
                                                                                    </div>
                                                                                </li>
                                                                                {% endfor %}
                                                                                <!-- Конец Секция-->
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                    {% endfor %}
                                                                    <!-- Конец Ствол -->
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                        <!-- Конец Скважина -->
                                                    </ul>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </li>
                <!-- !Клиент -->
                {% endfor %}
          </ul>
      </div>

    </div>
    {% endblock %}
    <div class="col">
      {% block data %}
      {% endblock %}
    </div>
  </div>


<script src="{% static 'js/nav_menu.js'%}"></script>
{% endblock %}

