{% extends 'base.html' %}
{% load static%}


{% block content %}
<style>
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: var(--bs-nav-pills-link-active-color);
    background-color: #fdb30d;}
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav nav-pills m-auto">
        <li class="nav-item">
          {% if context.active == 'param' %}
          <a href="{% url 'param' %}" class="nav-link active" style="font-size:large">Общие параметры</a>
          {% else %}
          <a href="{% url 'param' %}" class="nav-link" style="font-size:large">Общие параметры</a>
          {% endif %}
        </li>
        <li class="nav-item active">
          {% if context.active == 'graph' %}
          <a href="{% url 'graph' %}" class="nav-link active" style="font-size:large">Графики контроля</a>
          {% else %}
          <a href="{% url 'graph' %}" class="nav-link" style="font-size:large">Графики контроля</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if context.active == 'traj'%}
          <a href="{% url 'traj' %}" class="nav-link active" style="font-size:large">Траектории</a>
          {% else %}
          <a href="{% url 'traj' %}" class="nav-link" style="font-size:large">Траектории</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div class="row" style="margin: 0em">
      {% block left_panel %}
    <div class="col-3">
      <form style="margin: 1em 5em 5em 5em">
          <fieldset>
              <legend>Выбор модели</legend>
              <div class="form-group" style="margin:1em">
                  <label for="sel-client">Дочернее общество</label>
                  <select id="sel-client" class="form-control">
                      <option>Disabled select</option>
                  </select>
              </div>

              <div class="form-group" style="margin:1em">
                  <label for="sel-field">Месторождение</label>
                  <select id="sel-field" class="form-control">
                      <option>Disabled select</option>
                  </select>
              </div>

              <div class="form-group" style="margin:1em">
                  <label for="sel-pad">Куст</label>
                  <select id="sel-pad" class="form-control">
                      <option>Disabled select</option>
                  </select>
              </div>
              <div class="form-group" style="margin:1em">
                  <label for="sel-wellbore">Ствол</label>
                  <select id="sel-wellbore" class="form-control">
                      <option>Disabled select</option>
                  </select>
              </div>
              <div class="form-group" style="margin:1em">
                  <label for="sel-section">Секция</label>
                  <select id="sel-section" class="form-control">
                      <option>Disabled select</option>
                  </select>
              </div>

              <div class="form-group" style="margin: 1em">
                  <label for="sel-run">Рейс</label>
                  <select id="sel-run" class="form-control">
                      <option>Disabled select</option>
                  </select>
              </div>
          </fieldset>
      </form>
    </div>
      {% endblock %}

<!--Здадатки под дерево-->
<!--      <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">-->
<!--          <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">-->
<!--              <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>-->
<!--              <span class="fs-5 fw-semibold">Выбор модели</span>-->
<!--          </a>-->
<!--          <ul class="list-unstyled ps-0">-->
<!--              <li class="mb-1">-->
<!--                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">-->
<!--                      Home-->
<!--                  </button>-->
<!--                  <div class="collapse" id="home-collapse" style="">-->
<!--                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                          <li><a href="#" class="link-dark rounded">Overview</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Updates</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Reports</a></li>-->
<!--                      </ul>-->
<!--                  </div>-->
<!--              </li>-->
<!--              <li class="mb-1">-->
<!--                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">-->
<!--                      Dashboard-->
<!--                  </button>-->
<!--                  <div class="collapse" id="dashboard-collapse">-->
<!--                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                          <li><a href="#" class="link-dark rounded">Overview</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Weekly</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Monthly</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Annually</a></li>-->
<!--                      </ul>-->
<!--                  </div>-->
<!--              </li>-->
<!--              <li class="mb-1">-->
<!--                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">-->
<!--                      Orders-->
<!--                  </button>-->
<!--                  <div class="collapse" id="orders-collapse">-->
<!--                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                          <li><a href="#" class="link-dark rounded">New</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Processed</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Shipped</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Returned</a></li>-->
<!--                      </ul>-->
<!--                  </div>-->
<!--              </li>-->
<!--              <li class="border-top my-3"></li>-->
<!--              <li class="mb-1">-->
<!--                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">-->
<!--                      Account-->
<!--                  </button>-->
<!--                  <div class="collapse" id="account-collapse">-->
<!--                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                          <li><a href="#" class="link-dark rounded">New...</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Profile</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Settings</a></li>-->
<!--                          <li><a href="#" class="link-dark rounded">Sign out</a></li>-->
<!--                      </ul>-->
<!--                  </div>-->
<!--              </li>-->
<!--          </ul>-->
<!--      </div>-->

    <div class="col">
      {% block data %}
      {% endblock %}
    </div>
  </div>


{% endblock %}

