{% extends 'data_handler/index.html' %}
{% load static%}

{%  block header %}
    <link type="text/css" href="{% static 'css/data_handler/scroll.css' %}" rel="stylesheet" />
{% endblock %}


{% block data %}
<div class="scroll-body" style="margin-top:1em">
  <hr style="color:#FFC501;margin-top:1%;border-width: 3px">

  <form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Параметр</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Значение">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Параметр</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Значени">
        </div>
    </div>
  </form>
{% endblock %}