{% extends 'data_handler/index.html' %}
{% load static%}

{% block data %}
      <div data-spy="scroll" data-target="#navbar-example3" data-offset="0" class="scrollspy-example-2" style="margin-top:1em">
        <h4 id="item-1">Здесь параметры</h4>
        <p>Много параметров</p>
        <h5 id="item-1-1">параметры</h5>
        <p>Значения</p>
        <h5 id="item-1-1">параметры</h5>
        <p>Значения</p>
        <h5 id="item-1-1">параметры</h5>
        <p>Значения</p>
        <h5 id="item-1-1">параметры</h5>
        <p>Значения</p>
        <h5 id="item-1-1">параметры</h5>
        <p>Значения</p>
        <h5 id="item-1-1">параметры</h5>
        <p>Значения</p>
        <h5 id="item-1-1">параметры</h5>
        <p>Значения</p>
        <h5 id="item-1-1">параметры</h5>
        <p>Значения</p>
      </div>
{% endblock %}