{% extends 'base.html' %}
{% load static %}

{%  block header %}
<!-- Стиль для вспылвающих подсказок-->
<style>
   [data-tooltip] {
    position: relative; /* Относительное позиционирование */
   }
   [data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 15em; /* Ширина подсказки */
    right: -7em; bottom: 1.5em; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   }
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    /*bottom: 0em;  Положение подсказки */
   }
 </style>
{% endblock %}

{% block content %}
<center>
<div>
        <form action="{% url 'add_axes' %}" method="post" enctype="multipart/form-data" style="margin-top:1%" name="axe_form" onsubmit="return validForm()">
            {% csrf_token %}

            <div style="max-width:500px; margin-top:1%">
                <div style="max-width:500px">
                    <a>Выберите рейс</a>
                    <p></p>
                    <div class="input-group mb-3">
                        <select type="text" name="run" class="form-select" id="run">
                            <option value="Выберите рейс">Выберите рейс</option>
                             {% for r in context.run %}
                                <option value="{{r.id}}" >{{r}}</option>
                             {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div style="max-width:500px">
                <a>Выберите телесистему</a>
                <p></p>
                <div class="input-group mb-3">
                  <select type="text" name="device" class="form-select" id="device">
                      {% for element in context.telesystem %}
                        {% if element == context.last_form.device %}
                          <option selected>{{element}}</option>
                        {% else %}
                          <option>{{element}}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
            </div>

            <hr style="color:#FFC501;margin-top:1%;border-width: 3px">

            <div class="col col-6 align-self-center">
                <h4 style="margin-top:2%">Коэффициенты пересчёта
                <a href="{% url 'add_device'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                </h4>

                <div class="input-group mb-3">
                    <span class="input-group-text">Gx</span>
                    <input type="text" class="form-control" name="manually_gx" id="coef_gx" readonly>
                    <span class="input-group-text">Gy</span>
                    <input type="text" class="form-control" name="manually_gy" id="coef_gy" readonly>
                    <span class="input-group-text">Gz</span>
                    <input type="text" class="form-control" name="manually_gz" id="coef_gz" readonly>
                    <span class="input-group-text">Bx</span>
                    <input type="text" class="form-control" name="manually_bx" id="coef_bx" readonly>
                    <span class="input-group-text">By</span>
                    <input type="text" class="form-control" name="manually_by" id="coef_by" readonly>
                    <span class="input-group-text">Bz</span>
                    <input type="text" class="form-control" name="manually_bz" id="coef_bz" readonly>
                </div>
            </div>


            <hr style="color:#FFC501;margin-top:1%;border-width: 3px">

            <div class="container" style="max-width:90%">
                  <div class="row justify-content-between" style="margin-left:0px;
                                                                  margin-right:0px;">
                      <div class="col col-6 align-self-center">
                          <h4 style="margin-top:2%">Загрузите файл с осями</h4>
                          {% csrf_token %}
                          <input  type="file" accept=".xls,.xlsx,.las,.txt,.sur,.csv" name="file" style="margin-top:1%">
                          <a data-tooltip=".xls .xlsx .csv .las .txt .sur">
                              <img class="circle" src="{% static 'img/report/question.png'%}"
                                                  alt="question"
                                                  style="height: 16px;width: 16px;">
                          </a>
                      </div>

                      <div class="col col-6 align-self-center">
                        <h4 style="margin-top:2%">Имя(буква) столбца</h4>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Глубина</span>
                            <input type="text" class="form-control" name="manually_depth" id="inp_depth">
                            <span class="input-group-text">Gx</span>
                            <input type="text" class="form-control" name="manually_gx" id="inp_gx">
                            <span class="input-group-text">Gy</span>
                            <input type="text" class="form-control" name="manually_gy" id="inp_gy">
                            <span class="input-group-text">Gz</span>
                            <input type="text" class="form-control" name="manually_gz" id="inp_gz">
                            <span class="input-group-text">Bx</span>
                            <input type="text" class="form-control" name="manually_bx" id="inp_bx">
                            <span class="input-group-text">By</span>
                            <input type="text" class="form-control" name="manually_by" id="inp_by">
                            <span class="input-group-text">Bz</span>
                            <input type="text" class="form-control" name="manually_bz" id="inp_bz">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Строка единиц измерений</span>
                            <input type="text" class="form-control"  name="manually_measurement" id="inp_unit">
                            <span class="input-group-text" >Импорт со строки</span>
                            <input type="text" class="form-control" name="manually_import" id="inp_string">
                        </div>
                      </div>
                  </div>
            </div>

            <hr style="color:#FFC501;margin-top:1%;border-width: 3px">

            <button type="submit" style="border:1">Загрузить данные</button>
        </form>
    <hr style="color:#FFC501;margin-top:1%;border-width: 3px">
    <div class="container" style="max-width:5000px">
          <div class="row">
            <div class="col-sm">
              <h3 style="margin-top:1%">Распаршенные данные</h3>
                <table  class="table table-light  table-bordered ">
                    <thead class="thead-dark">
                        <tr clas="table-warning">
                            <th scope="col">Глубина</th>
                            <th scope="col">GX</th>
                            <th scope="col">GY</th>
                            <th scope="col">GZ</th>
                            <th scope="col">BX</th>
                            <th scope="col">BY</th>
                            <th scope="col">BZ</th>
                        </tr>
                    </thead>

                    <tbody>

                    {% for row in context.result %}
                        <tr>
                        {% for element in row  %}
                            {% if element1  == "None" %}
                            <td style="background-color:red">{{element}}</td>
                            {% elif element1 == "Коротий замер" %}
                            <td style="background-color:red">{{element}}</td>
                            {% elif element1 == "Влияние ОК." %}
                            <td style="background-color:red">{{element}}</td>
                            {% else%}
                            <td>{{ element }}</td>
                            {% endif%}
                        {% endfor %}
                        </tr>
                 {% endfor %}
                    </tbody>
                </table>

            </div>
              <div class="col-sm">
                <h3 style="margin-top:1%">Приведенные данные</h3>
                <table  class="table table-light  table-bordered ">
                    <thead class="thead-dark">
                        <tr clas="table-warning">
                            <th scope="col">Глубина</th>
                            <th scope="col">GX</th>
                            <th scope="col">GY</th>
                            <th scope="col">GZ</th>
                            <th scope="col">BX</th>
                            <th scope="col">BY</th>
                            <th scope="col">BZ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in context.result2 %}
                        <tr>
                            {% for element in row  %}
                            {% if element  == "None" %}
                            <td style="background-color:red">{{element}}</td>
                            {% elif element == "Коротий замер" %}
                            <td style="background-color:red">{{element}}</td>
                            {% elif element == "Влияние ОК." %}
                            <td style="background-color:red">{{element}}</td>
                            {% else %}
                            <td>{{ element }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
          </div>

    </div>
</div>
</center>

<script>
    <!--  Смотрим на изменение рейса  -->
    document.getElementsByName("run")[0].addEventListener("change",function(e){
        console.log("Selected" + e.target.value);
         document.getElementById("inp_depth").value = "";
         document.getElementById("inp_gx").value = "";
         document.getElementById("inp_gy").value = "";
         document.getElementById("inp_gz").value = "";
         document.getElementById("inp_bx").value = "";
         document.getElementById("inp_by").value = "";
         document.getElementById("inp_bz").value = "";
         document.getElementById("inp_unit").value = "";
         document.getElementById("inp_string").value = "";
        var params = new FormData();
        params.set('run_title', e.target.value);

        <!--    Заполнение индексов в полях    -->
        fetch('http://'+window.location.hostname+':'+window.location.port+'/axes/run_index', {
        method: 'POST',
        body: params }).then(response=>response.json())
        .then(data=>{console.log(data);
                    document.getElementById("device").value=data.device;
                    document.getElementById("inp_depth").value = data.depth;
                    document.getElementById("inp_gx").value = data.GX;
                    document.getElementById("inp_gy").value = data.GY;
                    document.getElementById("inp_gz").value = data.GZ;
                    document.getElementById("inp_bx").value = data.BX;
                    document.getElementById("inp_by").value = data.BY;
                    document.getElementById("inp_bz").value = data.BZ;
                    document.getElementById("inp_unit").value = data.unit;
                    document.getElementById("inp_string").value = data.string;
                    })

        var params = new FormData();
        params.set('device_title', document.getElementById("device").value);
        <!--    Заполнение коэффициентов пересчёта    -->
        fetch('http://'+window.location.hostname+':'+window.location.port+'/axes/api/coef_device', {
        method: 'POST',
        body: params }).then(response=>response.json())
        .then(data=>{console.log(data);
                    document.getElementById("coef_gx").value = data.GX;
                    document.getElementById("coef_gy").value = data.GY;
                    document.getElementById("coef_gz").value = data.GZ;
                    document.getElementById("coef_bx").value = data.BX;
                    document.getElementById("coef_by").value = data.BY;
                    document.getElementById("coef_bz").value = data.BZ;
                    });

    });

    <!--  Смотрим на изменение телесистемы  -->
    document.getElementById("device").addEventListener("change",function(e){
        var params = new FormData();
        params.set('device_title', document.getElementById("device").value);
        <!--    Заполнение коэффициентов пересчёта    -->
        fetch('http://'+window.location.hostname+':'+window.location.port+'/axes/api/coef_device', {
        method: 'POST',
        body: params }).then(response=>response.json())
        .then(data=>{console.log(data);
                    document.getElementById("coef_gx").value = data.GX;
                    document.getElementById("coef_gy").value = data.GY;
                    document.getElementById("coef_gz").value = data.GZ;
                    document.getElementById("coef_bx").value = data.BX;
                    document.getElementById("coef_by").value = data.BY;
                    document.getElementById("coef_bz").value = data.BZ;
                    })});


    <!-- Отслеживаем чтобы пользователь ввел данные -->
    function validForm(){
    var f = document.forms['axe_form']['run'].value;

    if (f=='Выберите рейс'){
        alert("Необходимо выбрать рейс");
        return false;
        }
    }
</script>

{% endblock %}